//Buttons
.btn {
    display: block;
    border: none;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 30px;
    cursor: pointer;
    @include transition(0.2s);
    &--bg--dark {
        color: $white;
        background-color: $dark-one;
    }
    &--bg--none {
        background-color: transparent;
    }
    &:hover {
        opacity: 0.9;
    }
}
//filterts
.filters {
    &__short {
        width: 236px;
        height: 61px;
        background-color: $purple-one;
        border: 1px solid $border-one;
        border-radius: 70px;
        padding: 5px;
        &__link {
            width: 50%;
            height: 100%;
            text-decoration: none;
            border-radius: 45px;
            color: $dark-two;
            font-weight: 600;
            font-size: 16px;
            &--active {
                background-color: $white;
                color: $dark-one;
                border: 1px solid $border-one;
            }
            &:hover {
                border: 1px solid $border-one;
            }
        }
    }
    &__category {
        &__link {
            height: 44px;
            padding: 0 10px;
            border-radius: 32px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            color: $dark-two;
            &--active {
                border: 1px solid $border-one;
                color: $dark-one;
                background-color: $purple-one;
            }
            &:hover {
                border: 1px solid $border-one;
            }
        }
    }
    &__tool {
        &__item {
            width: 61px;
            height: 61px;
            background-color: $purple-one;
            border: 1px solid $border-one;
            border-radius: 50%;
            margin: 0 7.5px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
            &--active {
                border-color: $pink-one;
            }
            &:hover {
                border-color: $dark-two;
            }
        }
    }
}
//item card
.card {
    width: auto;
    break-inside: avoid;
    margin-bottom: 30px;
    
    &__top {
        width: 100%;
        height: 319px;
        overflow: hidden;
        position: relative;
        border-radius: 15px;
        &__poster {
            width: 100%;
            height: 100%;
            &__img {
                width: 100%;
                height: 100%;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    @include transition(.2s);
                }
                &:hover{
                   img{
                    transform: scale(1.1);
                   }
                }
            }
        }
        &__tool{
            width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            left: 20px;
            top: 20px;
            z-index: 11;
            svg{
                width: 50%;
            }
            @media only screen and (max-width: $small) {
                width: 41px;
                height: 41px;
            }
        }
    }
    &__bottom {
        width: 100%;
        padding-top: 20px;
        justify-content: space-between;
        &__author {
            &__avatar {
                margin-right: 14px;
                img {
                    width: 38px;
                    height: 38px;
                    overflow: hidden;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            &__nick {
                font-size: 14px;
            }
        }
        &__info {
            &__item {
                margin-left: 20px;
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-left: 5px;
                }
            }
        }
    }
}
//not found
.not-found{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: $dark-two;
    font-size: 16px;
}