//Home search area
.search {
    width: 100%;
    position: relative;
    height: 427px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, $purple-one 0%, $white 100%);
    &__content {
        width: 100%;
        height: 100%;
        max-width: 650px;
        text-align: center;
        &__title {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 16px;
            line-height: 20px;
        }
        &__desc {
            font-size: 18px;
            line-height: 28px;
        }
        &__input {
            width: 100%;
            box-shadow: 0 16px 35px #02048415;
            border-radius: 10px;
            border: 1px solid $border-one;
            height: 74px;
            margin-top: 38px;
            overflow: hidden;
            @media only screen and (max-width: $medium) {
                height: 60px;
            }
            button{
                background-color: transparent;
                padding: 0;
                width: 168px;
                border-right: 1px solid $border-one;
                svg{
                    margin-left: 10px;
                }
            }
            .form-control {
                width: calc(100% - 168px);
                height: 100%;
                input[type=text] {
                    height: 100%;
                    width: 100%;
                    border: none
                }
                svg{
                    margin: 0 10px;
                    path{
                        stroke: $dark-two;
                    }
                }
            }
        }
    }
    //fixed day 
    &__day{
        position: absolute;
        left: 0;
        top: 30px;
        width: 106px;
        height: 40px;
        border-radius: 10px;
        background-color: $white;
        &__text{
            color: $pink-one;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
//Home cards
.cards{
    width: 100%;
    padding: 45px 0;
    &__filters{
        width: 100%;
        justify-content: space-between;
    }
    &__area{
        width: 100%;
        padding-top: 45px;
    }
}